/* SELECTORES */
h1 {

    /* ATRIBUTOS */
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     /* VALORES */
}

h2 {
    color: blueviolet;
}

/* ID */
#second_h1 {
    color: darkmagenta;
}


/* CLASES */
.container{
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 0;
}

.classBorder {
    border: 12px pink solid;
}


.classBorderLRTB{
    border-left: 20px solid blue;
    border-right: 12px dotted orange;
    border-top: 5px solid red;
    border-bottom: 5px dotted green;
}

.classBorderRadius{
    border-radius: 5px 10px orange;
}

