/* SELECTORES */
h1 {

    /* ATRIBUTOS */
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     /* VALORES */
}

h2 {
    color: blueviolet;
}

/* ID */
#second_h1 {
    color: darkmagenta;
}


/* CLASES */
.container{
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

body {
    margin: 0;
}

.classBorder {
    border: 12px pink solid;
    color: rgb(225, 90, 113);
}


.classBorderLRTB{
    border-left: 20px solid blue;
    border-right: 12px dotted orange;
    border-top: 5px solid red;
    border-bottom: 5px dotted green;
}

.classBorderRadius{  
    border: 20px solid purple ;
    border-radius: 50px;
    color: rgb(233, 161, 233);
}

.classBackgroundImage{
    border: 1px solid;
    background-image: url("../images/sunset.webp");
    color: aliceblue;
}

.classColor {
    color: darkorange;
}


.classFont{
    font: bold 13pt sans-serif;
}

.classFontFam{
    font-size: 17px;
    font-family: Papyrus;
}

.classFontStyleWeight{
    font-style: italic;
}