body{
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: rgb(244, 237, 198);
}

h1{
    color: rgb(231, 130, 52);
}

.tarea1{
    border: 10px solid rgb(218, 215, 34) ;
    border-radius: 50px;
    color: rgb(240, 176, 16);
    padding: 80px;
    margin: auto;
    font-size: 20px;
    width: 700px;
  
}

.tarea2{
    border: 10px dotted rgb(218, 215, 34) ;
    border-radius: 50px;
    color: rgb(240, 176, 16);
    padding: 80px;
    margin: auto;
    font-size: 20px;
    width: 700px;
}

.tarea3{
    border: 10px solid rgb(218, 215, 34) ;
    border-radius: 50px;
    color: rgb(240, 176, 16);
    padding: 80px;
    margin: auto;
    font-size: 20px;
    width: 700px;
}

.tarea4{
    border: 10px dotted rgb(218, 215, 34) ;
    border-radius: 50px;
    color: rgb(240, 176, 16);
    padding: 80px;
    margin: auto;
    font-size: 20px;
    width: 700px;
}

.tarea5{
    border: 10px solid rgb(218, 215, 34) ;
    border-radius: 50px;
    color: rgb(240, 176, 16);
    padding: 80px;
    margin: auto;
    font-size: 20px;
    width: 700px;
}

.tarea6{
    border: 10px dotted rgb(218, 215, 34) ;
    border-radius: 50px;
    color: rgb(240, 176, 16);
    padding: 80px;
    margin: auto;
    font-size: 20px;
    width: 700px;
}
